<h3>Welcome to Woofer.</h3>

<a class="waves-effect waves-teal btn-flat" href="<%= new_user_session_path %>">Login</a>
<a class="waves-effect waves-teal btn-flat" href="<%= new_user_registration_path %>">Sign Up</a>
